/* Color Theme Swatches in Hex */
.Verde-1-hex { color: #193C40; }
.Verde-2-hex { color: #2E5902; }
.Verde-3-hex { color: #214001; }
.Verde-4-hex { color: #D96941; }
.Verde-5-hex { color: #A62B1F; }
.Verde-6-hex { color: #EBE2CB; }


body {
    background-color:#f4ffe7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    position: fixed;
    top: 15px;
    right: 0;
    background-color: #214001;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;  
    opacity: 80%;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 80vw;
    max-width: 872px;
}
h1 {
    color: #9fc98d;
    font-size: 56px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 900;
}
.card {
    width: 117px;
    height: 146px;
    background-color:#9fc98d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform .5s linear;
}

.card.turn {
    transform: rotateY(180deg);
}

.card img {
    max-width: 80%;
}

.hidden {
    display: none;
}

.visible {
    display: contents;
}