body {
    background-color:#f4ffe7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    position: fixed;
    top: 15px;
    right: 0;
    background-color: #214001;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;  
    opacity: 80%;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 80vw;
    max-width: 872px;
}
h1 {
    color: #9fc98d;
    font-size: 56px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 900;
}
.card {
    width: 117px;
    height: 146px;
    background-color:#9fc98d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform .5s linear;
}

.card.turn {
    transform: rotateY(180deg);
}

.card img {
    max-width: 80%;
}

.visible {
    display: contents;
}

.concluded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(6, 48, 53, 70%);
    position: fixed;
    top: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #214001;
    color: #FFFFFF;
    border-radius: 9px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-top: 30px;
    cursor: pointer;
}

.finished-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #214001;
    box-sizing: border-box;
    padding: 3vh 3vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 10px;

}

.finished-text img {
    height: 80%;
}

.hidden {
    display: none;
}

@media (max-width: 550px) {
    .finished-text {
        width: 80vw;
        height: 600px;
    }

    .text button {
        width: 150px;
        margin-top: 20px;
    }
    .finished-text img {
        height: 60%;
    }
}